{{ define "main" }}
<h3>let's meet</h3>
<p>if you want to chat with me, here's the right place to arrange that. if we haven't spoken before make sure to write why you're requesting a meet in the "optional comments".</p>
<hr>
<ul>
    <li><a href="https://fantastical.app/maiagov/brainstorm">Book a 1 hour Google Meet</a></li>
    <li><a href="https://fantastical.app/maiagov/rapid-chat">Book a 25 minute Google Meet</a></li>
</ul>
{{ end }}

{{ define "title" }}let's meet{{ end }}
{{ define "description" }}if you want to chat with me, here's the right place to arrange that.{{ end }}
