{{ define "main" }}
<p>these pgp keys can be used to identify me:</p>
    <ul>
        <li><p>gpg public key: <a href="https://maia.codes/public_pgp.txt">https://maia.codes/public_pgp.txt</a> (fingerprint: <code>5D6AEC83AB59F8C7B8E64AFE0EBFF0CF7DDD73B6</code>)</p></li>
        <li><p>ssh public key: <a href="https://maia.codes/public_ssh.txt">https://maia.codes/public_ssh.txt</a> (md5: <code>184963debe2867a70ed968659ba6b921</code>)</p></li>
    </ul>
<p>this site cannot 100% be trusted, so you may want to cross-check fingerprints against <a href="https://twitter.com/returnmaia/status/1433056289702174726?s=20">this tweet</a> and <a href="https://github.com/maiacodes/public_keys">this gh repo</a></p>
{{ end }}

{{ define "title" }}pgp{{ end }}
{{ define "description" }}these pgp keys can be used to identify me{{ end }}
